body {    
    font-family: Arial, Helvetica, sans-serif;  
    line-height: 1.42857143;
    font-size: 16px;
    color: #363636;
    overflow-x: hidden;    
}
*{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.outer{width:90%; margin:0 auto;}
.topNav{width: 100%; float: left;; background-color: #ddd; padding: 20px; margin-top: 40px;}
.Container{width: 100%; float: left;; background-color: #ddd; padding: 20px; padding-top: 0px;}
.leftarea{width:49%; float: left; background-color: #fff; height: 500px; overflow: auto; padding: 20px; }
.rightarea{ margin-left:2%; width: 49%;  float: left; background-color: #fff; height: 500px; overflow: auto; padding: 20px; }
select{padding: 5px 10px; font-size: 14px; margin-right: 10px; border-radius: 4px; }
button{color: white;border-radius: 4px;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);background: rgb(28, 184, 65); border: 0px; padding: 7px 10px; font-size: 14px; text-transform: capitalize; margin-right: 10px;}